flows.json
[
    {
        "id": "b1123e01f1806ad2",
        "type": "tab",
        "label": "Monitoreo de Sueño",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a179a7ec3d10560",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "bdd75ff31c03ce78",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#002db3",
            "primary": "#0094ce",
            "bgPage": "#c2c2c2",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "638b3166bca4adf1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0420ac146bee7dda",
        "type": "mqtt-broker",
        "name": "MOSQUITTO",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e1e95cf7330b799a",
        "type": "ui-page",
        "name": "Monitoreo de sueño",
        "ui": "4a179a7ec3d10560",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "bdd75ff31c03ce78",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "88bb302e72de7e9b",
        "type": "ui-group",
        "name": "Sensores",
        "page": "e1e95cf7330b799a",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "57a365fc4aa26b02",
        "type": "inject",
        "z": "b1123e01f1806ad2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "b39ff7c463d5d95b"
            ]
        ]
    },
    {
        "id": "b39ff7c463d5d95b",
        "type": "function",
        "z": "b1123e01f1806ad2",
        "name": "Simulador de Sensores",
        "func": "// Simulamos valores aleatorios realistas para una persona durmiendo\nmsg.payload = {\n    ritmo_cardiaco: Math.floor(Math.random() * (90 - 50 + 1)) + 50, // Entre 50 y 90 bpm\n    respiracion: Math.floor(Math.random() * (20 - 12 + 1)) + 12,   // Entre 12 y 20 rpm\n    movimiento: Math.random() > 0.8 ? \"Alto\" : \"Bajo\"             // Mayormente bajo, a veces alto\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "0a3c7b8166300f71"
            ]
        ]
    },
    {
        "id": "0a3c7b8166300f71",
        "type": "function",
        "z": "b1123e01f1806ad2",
        "name": "Analizador de Descanso",
        "func": "let datos = msg.payload;\nlet estado = \"Descanso Profundo\";\nlet codigo_color = \"#4CAF50\"; // Verde\n\n// Lógica de alertas\nif (datos.ritmo_cardiaco > 75 || datos.movimiento === \"Alto\") {\n    // ¡Aquí le regresamos la \"ñ\" para que el switch lo detecte!\n    estado = \"Sueño Inquieto / Alerta\";\n    codigo_color = \"#ff4d4d\"; // Rojo\n} else if (datos.ritmo_cardiaco > 65) {\n    estado = \"Sueño Ligero\";\n    codigo_color = \"#ffc107\"; // Amarillo\n}\n\n// Empaquetamos los datos\nmsg.payload = {\n    sensores: datos,\n    estado_descanso: estado,\n    color: codigo_color\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 360,
        "wires": [
            [
                "d65cce20939d50e8",
                "3c480563d53e95e9",
                "8c63b9be895e464e"
            ]
        ]
    },
    {
        "id": "d65cce20939d50e8",
        "type": "ui-template",
        "z": "b1123e01f1806ad2",
        "group": "88bb302e72de7e9b",
        "page": "",
        "ui": "",
        "name": "Dashboard de Monitoreo",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div v-if=\"msg.payload\"\n    style=\"background-color: #1e1e2f; color: white; padding: 20px; border-radius: 10px; font-family: sans-serif;\">\n    <h2 style=\"text-align:center; color: #4CAF50;\">🌙 Monitor de Sueño</h2>\n\n    <div style=\"display: flex; justify-content: space-around; margin-top: 20px;\">\n        <div>\n            <h3>❤️ Ritmo Cardíaco</h3>\n            <p style=\"font-size: 24px;\">{{ msg.payload.sensores.ritmo_cardiaco }} bpm</p>\n        </div>\n        <div>\n            <h3>🫁 Respiración</h3>\n            <p style=\"font-size: 24px;\">{{ msg.payload.sensores.respiracion }} rpm</p>\n        </div>\n        <div>\n            <h3>🛏️ Movimiento</h3>\n            <p style=\"font-size: 24px;\">{{ msg.payload.sensores.movimiento }}</p>\n        </div>\n    </div>\n\n    <div style=\"text-align: center; margin-top: 30px; padding: 15px; background-color: #2c2c3e; border-radius: 8px;\">\n        <h3>Estado Actual</h3>\n        <h1 :style=\"{ color: msg.payload.color }\">{{ msg.payload.estado_descanso }}</h1>\n    </div>\n</div>\n\n<div v-else\n    style=\"background-color: #1e1e2f; color: white; padding: 20px; border-radius: 10px; text-align: center; font-family: sans-serif;\">\n    <h2 style=\"color: #4CAF50;\">🌙 Monitor de Sueño</h2>\n    <h3 style=\"color: #00bcd4;\">Esperando datos de los sensores...</h3>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 730,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3c480563d53e95e9",
        "type": "debug",
        "z": "b1123e01f1806ad2",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "d52ad2495688f023",
        "type": "mqtt in",
        "z": "b1123e01f1806ad2",
        "name": "",
        "topic": "sensores/sueño",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0420ac146bee7dda",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8c63b9be895e464e",
        "type": "switch",
        "z": "b1123e01f1806ad2",
        "name": "",
        "property": "payload.estado_descanso",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sueño Inquieto / Alerta",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "a0ec657e3eb7ca9a"
            ]
        ]
    },
    {
        "id": "a0ec657e3eb7ca9a",
        "type": "change",
        "z": "b1123e01f1806ad2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "¡ALERTA! El paciente presenta ritmo cardíaco alto o movimiento.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 520,
        "wires": [
            [
                "b5a64f6192bc409d"
            ]
        ]
    },
    {
        "id": "b5a64f6192bc409d",
        "type": "ui-notification",
        "z": "b1123e01f1806ad2",
        "ui": "4a179a7ec3d10560",
        "position": "top right",
        "colorDefault": false,
        "color": "#ff0000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 970,
        "y": 520,
        "wires": [
            []
        ]
    }
]