flows.json
[
    {
        "id": "f6d8ab73aad19cbe",
        "type": "tab",
        "label": "CLIENTE SENSOR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "746814c61dc02221",
        "type": "tab",
        "label": "CLIENTE DASHBOARD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1123e01f1806ad2",
        "type": "tab",
        "label": "Monitoreo de Sueño",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a179a7ec3d10560",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "bdd75ff31c03ce78",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#002db3",
            "primary": "#0094ce",
            "bgPage": "#c2c2c2",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "638b3166bca4adf1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0420ac146bee7dda",
        "type": "mqtt-broker",
        "name": "MOSQUITTO",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5164896a4f7bc316",
        "type": "ui-page",
        "name": " Leccion 1: MQTT",
        "ui": "4a179a7ec3d10560",
        "path": "/lecc",
        "icon": "home",
        "layout": "grid",
        "theme": "bdd75ff31c03ce78",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "514a849a7b067892",
        "type": "ui-group",
        "name": "SENSORES",
        "page": "5164896a4f7bc316",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f68f10eb30c9d1bc",
        "type": "ui-group",
        "name": "ESTADO",
        "page": "5164896a4f7bc316",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e1e95cf7330b799a",
        "type": "ui-page",
        "name": "Monitoreo de sueño",
        "ui": "4a179a7ec3d10560",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "bdd75ff31c03ce78",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "88bb302e72de7e9b",
        "type": "ui-group",
        "name": "Sensores",
        "page": "e1e95cf7330b799a",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "77de30eda38d93f2",
        "type": "inject",
        "z": "f6d8ab73aad19cbe",
        "name": "Dar valores cada 1 m",
        "props": [
            {
                "p": "hum",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "074d98ec4c96286d"
            ]
        ]
    },
    {
        "id": "532af9c4d98011bf",
        "type": "random",
        "z": "f6d8ab73aad19cbe",
        "name": "Temperatura",
        "low": 1,
        "high": "100",
        "inte": "false",
        "property": "temp",
        "x": 470,
        "y": 480,
        "wires": [
            [
                "0d7b2e48b008a8af",
                "1786aa593b93305f"
            ]
        ]
    },
    {
        "id": "074d98ec4c96286d",
        "type": "random",
        "z": "f6d8ab73aad19cbe",
        "name": "Humedad",
        "low": 1,
        "high": "100",
        "inte": "false",
        "property": "hum",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "78b294edf32da459",
                "fe8d7eb70f93c1b8"
            ]
        ]
    },
    {
        "id": "01ad5533d1d4b564",
        "type": "inject",
        "z": "f6d8ab73aad19cbe",
        "name": "Dar valores cada 2 m",
        "props": [
            {
                "p": "temp",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "532af9c4d98011bf"
            ]
        ]
    },
    {
        "id": "813a5ec7116778fd",
        "type": "change",
        "z": "f6d8ab73aad19cbe",
        "name": "alarmaHumedad",
        "rules": [
            {
                "t": "set",
                "p": "payload.sistema.estado.alarmaHumedad",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 260,
        "wires": [
            [
                "9003ee2309a412b6"
            ]
        ]
    },
    {
        "id": "f91c19ddfa1b26f7",
        "type": "change",
        "z": "f6d8ab73aad19cbe",
        "name": "alarmaT",
        "rules": [
            {
                "t": "set",
                "p": "payload.sistema.estado.alarmaTemperatura",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 560,
        "wires": [
            [
                "9003ee2309a412b6"
            ]
        ]
    },
    {
        "id": "78b294edf32da459",
        "type": "switch",
        "z": "f6d8ab73aad19cbe",
        "name": ">60",
        "property": "hum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "59",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "813a5ec7116778fd"
            ],
            [
                "95e29d808370cf9a"
            ]
        ]
    },
    {
        "id": "95e29d808370cf9a",
        "type": "change",
        "z": "f6d8ab73aad19cbe",
        "name": "alarmaHumedad",
        "rules": [
            {
                "t": "set",
                "p": "payload.sistema.estado.alarmaHumedad",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 300,
        "wires": [
            [
                "9003ee2309a412b6"
            ]
        ]
    },
    {
        "id": "9003ee2309a412b6",
        "type": "change",
        "z": "f6d8ab73aad19cbe",
        "name": "ESTADO",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"sistema\":{\"nombre\":\"Riego Inteligente\",\"ubicacion\":\"Invernadero 1\",\"estado\":{\"riego\":false,\"alarmaTemperatura\":payload.sistema.estado.alarmaTemperatura,\"alarmaHumedad\":payload.sistema.estado.alarmaHumedad}}}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 440,
        "wires": [
            [
                "cbcadbb13685c507",
                "57c61a2999bef0ec"
            ]
        ]
    },
    {
        "id": "0d7b2e48b008a8af",
        "type": "switch",
        "z": "f6d8ab73aad19cbe",
        "name": ">60",
        "property": "temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "59",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 620,
        "wires": [
            [
                "f91c19ddfa1b26f7"
            ],
            [
                "3a49dc843b26f612"
            ]
        ]
    },
    {
        "id": "3a49dc843b26f612",
        "type": "change",
        "z": "f6d8ab73aad19cbe",
        "name": "alarmaT",
        "rules": [
            {
                "t": "set",
                "p": "payload.sistema.estado.alarmaTemperatura",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 620,
        "wires": [
            [
                "9003ee2309a412b6"
            ]
        ]
    },
    {
        "id": "fe8d7eb70f93c1b8",
        "type": "change",
        "z": "f6d8ab73aad19cbe",
        "name": "Hum red",
        "rules": [
            {
                "t": "set",
                "p": "payload.hum",
                "pt": "msg",
                "to": "$round(hum, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "119ad2db8f7d127b",
                "1cddd9691960da78"
            ]
        ]
    },
    {
        "id": "1786aa593b93305f",
        "type": "change",
        "z": "f6d8ab73aad19cbe",
        "name": "TEMP red",
        "rules": [
            {
                "t": "set",
                "p": "payload.temp",
                "pt": "msg",
                "to": "$round(temp, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 480,
        "wires": [
            [
                "119ad2db8f7d127b",
                "1cddd9691960da78"
            ]
        ]
    },
    {
        "id": "119ad2db8f7d127b",
        "type": "mqtt out",
        "z": "f6d8ab73aad19cbe",
        "name": "",
        "topic": "KRISTHIAN/Sensores",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0420ac146bee7dda",
        "x": 1000,
        "y": 420,
        "wires": []
    },
    {
        "id": "cbcadbb13685c507",
        "type": "mqtt out",
        "z": "f6d8ab73aad19cbe",
        "name": "",
        "topic": "KRISTHIAN/Estado",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0420ac146bee7dda",
        "x": 1530,
        "y": 440,
        "wires": []
    },
    {
        "id": "50571f67d16e4db9",
        "type": "comment",
        "z": "f6d8ab73aad19cbe",
        "name": "Lanza mensaje cada 1 minuto",
        "info": "Injecta cada 1 minuto para la humedad",
        "x": 240,
        "y": 360,
        "wires": []
    },
    {
        "id": "de51555e7227ee9a",
        "type": "comment",
        "z": "f6d8ab73aad19cbe",
        "name": "Lanza mensaje cada 2 minuto",
        "info": "Injecta cada 2 minuto para la temperatura",
        "x": 240,
        "y": 440,
        "wires": []
    },
    {
        "id": "73fa69c2bd302719",
        "type": "comment",
        "z": "f6d8ab73aad19cbe",
        "name": "Simula Sensor Humedad",
        "info": "Genera Humedad random",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "ef5ccfc91b2f8d3a",
        "type": "comment",
        "z": "f6d8ab73aad19cbe",
        "name": "Redondea Humedad",
        "info": "Redondea en 2 dijitos los decimales de humedad",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "dc84cbec7eeb60a3",
        "type": "comment",
        "z": "f6d8ab73aad19cbe",
        "name": "Simula Sensor Temperatura",
        "info": "Genera Temperatura random",
        "x": 500,
        "y": 440,
        "wires": []
    },
    {
        "id": "d17784592398af52",
        "type": "comment",
        "z": "f6d8ab73aad19cbe",
        "name": "Redondea Temperatura",
        "info": "Redondea en 2 dijitos los decimales de temperatura",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "edd2e27ae97b263e",
        "type": "comment",
        "z": "f6d8ab73aad19cbe",
        "name": "Envia al Canal de Sensores",
        "info": "Envia al Canal de Sensores los datos de humedad y temperatura",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "0afc4605da949935",
        "type": "comment",
        "z": "f6d8ab73aad19cbe",
        "name": "Envia al Canal de Estado",
        "info": "Envia al Canal de Estado los datos de lugar, nombre, estado del riego, temperatura y humedad",
        "x": 1550,
        "y": 400,
        "wires": []
    },
    {
        "id": "b56ce2d01cf0a84f",
        "type": "comment",
        "z": "f6d8ab73aad19cbe",
        "name": "JSON ESTADO",
        "info": "El Json que lleva los datos de lugar, nombre, estado del riego, temperatura y humedad",
        "x": 1320,
        "y": 400,
        "wires": []
    },
    {
        "id": "e3d55a23f7b2b461",
        "type": "comment",
        "z": "f6d8ab73aad19cbe",
        "name": "Activar alarma Humedad",
        "info": "Activa la alarma de Humedad si es >60",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "e06501e244badc35",
        "type": "comment",
        "z": "f6d8ab73aad19cbe",
        "name": "Activar alarma Temperatura",
        "info": "Activa la alarma de Temperatura si es >60",
        "x": 920,
        "y": 520,
        "wires": []
    },
    {
        "id": "1cddd9691960da78",
        "type": "debug",
        "z": "f6d8ab73aad19cbe",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 340,
        "wires": []
    },
    {
        "id": "57c61a2999bef0ec",
        "type": "debug",
        "z": "f6d8ab73aad19cbe",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 540,
        "wires": []
    },
    {
        "id": "9d22dfed61fb4d55",
        "type": "mqtt in",
        "z": "746814c61dc02221",
        "name": "",
        "topic": "KRISTHIAN/Sensores",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0420ac146bee7dda",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "57f3c9601c3e0ef2",
                "f77ea2844126210e",
                "359373c3d4ad67bf"
            ]
        ]
    },
    {
        "id": "57f3c9601c3e0ef2",
        "type": "ui-gauge",
        "z": "746814c61dc02221",
        "name": "HUMEDAD",
        "group": "514a849a7b067892",
        "order": 2,
        "value": "payload.hum",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humedad",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 550,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f77ea2844126210e",
        "type": "ui-gauge",
        "z": "746814c61dc02221",
        "name": "TEMPERATURA",
        "group": "514a849a7b067892",
        "order": 1,
        "value": "payload.temp",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "C°",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 550,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "27c1d2d00d7ded96",
        "type": "mqtt in",
        "z": "746814c61dc02221",
        "name": "",
        "topic": "KRISTHIAN/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0420ac146bee7dda",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "cc920c7b4db6ca7f",
                "b3819373ce563cf0",
                "92f6df9509c3086b",
                "c7e79b2dc1e7ce9e",
                "47381f3a33204bc8",
                "9171ebee17064763"
            ]
        ]
    },
    {
        "id": "cc920c7b4db6ca7f",
        "type": "ui-text",
        "z": "746814c61dc02221",
        "group": "f68f10eb30c9d1bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "nombre",
        "label": "Nombre: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.sistema.nombre",
        "valueType": "msg",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "b3819373ce563cf0",
        "type": "ui-text",
        "z": "746814c61dc02221",
        "group": "f68f10eb30c9d1bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "ubcacion",
        "label": "Ubicacion: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.sistema.ubicacion",
        "valueType": "msg",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "c7e79b2dc1e7ce9e",
        "type": "ui-text",
        "z": "746814c61dc02221",
        "group": "f68f10eb30c9d1bc",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "AlarmaHumedad",
        "label": "AlarmaHumedad: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.sistema.estado.alarmaHumedad",
        "valueType": "msg",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "47381f3a33204bc8",
        "type": "ui-text",
        "z": "746814c61dc02221",
        "group": "f68f10eb30c9d1bc",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "AlarmaTemperatura",
        "label": "AlarmaTemperatura: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.sistema.estado.alarmaTemperatura",
        "valueType": "msg",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "92f6df9509c3086b",
        "type": "ui-text",
        "z": "746814c61dc02221",
        "group": "f68f10eb30c9d1bc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "riego",
        "label": "Riego: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.sistema.estado.riego",
        "valueType": "msg",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "0018e5fa6611bc16",
        "type": "comment",
        "z": "746814c61dc02221",
        "name": "Gauge de Humedad",
        "info": "Muestra los datos de humedad en un gauge",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "6d2ba3dc010ae473",
        "type": "comment",
        "z": "746814c61dc02221",
        "name": "Gauge de Temperatura",
        "info": "Muestra los datos de temperatura en un gauge",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "ca4e6b0fe76d8bdb",
        "type": "comment",
        "z": "746814c61dc02221",
        "name": "Recibe Canal de Sensores",
        "info": "Recibe del Canal de Sensores los datos de humedad y temperatura",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "b12e02805a8baaed",
        "type": "comment",
        "z": "746814c61dc02221",
        "name": "Recibe del Canal de Estado",
        "info": "Recibe del Canal de Estado los datos de lugar, nombre, estado del riego, temperatura y humedad",
        "x": 280,
        "y": 400,
        "wires": []
    },
    {
        "id": "d031b564ae0ffc5d",
        "type": "comment",
        "z": "746814c61dc02221",
        "name": "TEXT DE LOS DATOS",
        "info": "Texts para mostrar los datos en el dashboard",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "359373c3d4ad67bf",
        "type": "debug",
        "z": "746814c61dc02221",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "9171ebee17064763",
        "type": "debug",
        "z": "746814c61dc02221",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 460,
        "wires": []
    },
    {
        "id": "57a365fc4aa26b02",
        "type": "inject",
        "z": "b1123e01f1806ad2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "b39ff7c463d5d95b"
            ]
        ]
    },
    {
        "id": "b39ff7c463d5d95b",
        "type": "function",
        "z": "b1123e01f1806ad2",
        "name": "Simulador de Sensores",
        "func": "// Simulamos valores aleatorios realistas para una persona durmiendo\nmsg.payload = {\n    ritmo_cardiaco: Math.floor(Math.random() * (90 - 50 + 1)) + 50, // Entre 50 y 90 bpm\n    respiracion: Math.floor(Math.random() * (20 - 12 + 1)) + 12,   // Entre 12 y 20 rpm\n    movimiento: Math.random() > 0.8 ? \"Alto\" : \"Bajo\"             // Mayormente bajo, a veces alto\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "0a3c7b8166300f71"
            ]
        ]
    },
    {
        "id": "0a3c7b8166300f71",
        "type": "function",
        "z": "b1123e01f1806ad2",
        "name": "Analizador de Descanso",
        "func": "let datos = msg.payload;\nlet estado = \"Descanso Profundo\";\nlet codigo_color = \"#4CAF50\"; // Verde\n\n// Lógica de alertas\nif (datos.ritmo_cardiaco > 75 || datos.movimiento === \"Alto\") {\n    // ¡Aquí le regresamos la \"ñ\" para que el switch lo detecte!\n    estado = \"Sueño Inquieto / Alerta\";\n    codigo_color = \"#ff4d4d\"; // Rojo\n} else if (datos.ritmo_cardiaco > 65) {\n    estado = \"Sueño Ligero\";\n    codigo_color = \"#ffc107\"; // Amarillo\n}\n\n// Empaquetamos los datos\nmsg.payload = {\n    sensores: datos,\n    estado_descanso: estado,\n    color: codigo_color\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 360,
        "wires": [
            [
                "d65cce20939d50e8",
                "3c480563d53e95e9",
                "8c63b9be895e464e"
            ]
        ]
    },
    {
        "id": "d65cce20939d50e8",
        "type": "ui-template",
        "z": "b1123e01f1806ad2",
        "group": "88bb302e72de7e9b",
        "page": "",
        "ui": "",
        "name": "Dashboard de Monitoreo",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div v-if=\"msg.payload\"\n    style=\"background-color: #1e1e2f; color: white; padding: 20px; border-radius: 10px; font-family: sans-serif;\">\n    <h2 style=\"text-align:center; color: #4CAF50;\">🌙 Monitor de Sueño</h2>\n\n    <div style=\"display: flex; justify-content: space-around; margin-top: 20px;\">\n        <div>\n            <h3>❤️ Ritmo Cardíaco</h3>\n            <p style=\"font-size: 24px;\">{{ msg.payload.sensores.ritmo_cardiaco }} bpm</p>\n        </div>\n        <div>\n            <h3>🫁 Respiración</h3>\n            <p style=\"font-size: 24px;\">{{ msg.payload.sensores.respiracion }} rpm</p>\n        </div>\n        <div>\n            <h3>🛏️ Movimiento</h3>\n            <p style=\"font-size: 24px;\">{{ msg.payload.sensores.movimiento }}</p>\n        </div>\n    </div>\n\n    <div style=\"text-align: center; margin-top: 30px; padding: 15px; background-color: #2c2c3e; border-radius: 8px;\">\n        <h3>Estado Actual</h3>\n        <h1 :style=\"{ color: msg.payload.color }\">{{ msg.payload.estado_descanso }}</h1>\n    </div>\n</div>\n\n<div v-else\n    style=\"background-color: #1e1e2f; color: white; padding: 20px; border-radius: 10px; text-align: center; font-family: sans-serif;\">\n    <h2 style=\"color: #4CAF50;\">🌙 Monitor de Sueño</h2>\n    <h3 style=\"color: #00bcd4;\">Esperando datos de los sensores...</h3>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 730,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3c480563d53e95e9",
        "type": "debug",
        "z": "b1123e01f1806ad2",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "d52ad2495688f023",
        "type": "mqtt in",
        "z": "b1123e01f1806ad2",
        "name": "",
        "topic": "sensores/sueño",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0420ac146bee7dda",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8c63b9be895e464e",
        "type": "switch",
        "z": "b1123e01f1806ad2",
        "name": "",
        "property": "payload.estado_descanso",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sueño Inquieto / Alerta",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "a0ec657e3eb7ca9a"
            ]
        ]
    },
    {
        "id": "a0ec657e3eb7ca9a",
        "type": "change",
        "z": "b1123e01f1806ad2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "¡ALERTA! El paciente presenta ritmo cardíaco alto o movimiento.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 520,
        "wires": [
            [
                "b5a64f6192bc409d"
            ]
        ]
    },
    {
        "id": "b5a64f6192bc409d",
        "type": "ui-notification",
        "z": "b1123e01f1806ad2",
        "ui": "4a179a7ec3d10560",
        "position": "top right",
        "colorDefault": false,
        "color": "#ff0000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 970,
        "y": 520,
        "wires": [
            []
        ]
    }
]